a {
    color: black;
    text-decoration: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    align-items: center;
    margin-bottom: 0;
}

.comment {
    padding: 1rem 0 1rem 0;
}

.comments-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navbar {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.list-post {
    border: 1px solid black;
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.post {
    border: 1px solid black;
    border-radius: 20px;
    padding: 1rem;
}

.go-to-post {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
}
.go-to-post:hover {
    background-color: blue;
    color: white;
}

.user-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 200px);
    justify-content: center;
    align-items: center;
}

.user {
    max-width: 60%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 2rem;
}

.user img {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 50%;
}

.login-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 200px);
    justify-content: center;
    align-items: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.input-group label {
    text-align: end;
}

.invalid-fields {
    color: red;
    font-size: 0.8rem;
}

.user-comment-container {
    margin-bottom: 1rem;
}

.user-comment-container input {
    width: 100px;
    float: right;
}

.comment-input {
    resize: none;
    width: 100%;
    height: 5rem;
    padding: 0.5rem;
}

.post-body, .comment-body {
    margin-top: 1rem;
}

.post-owner {
    text-decoration: underline;
}

.create-post-form {
    display: flex;
    width: 70%;
    height: calc(100vh - 200px);
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: auto;
}
.create-post-form * {
    width: 100%;
}
.create-post-form textarea {
    resize: none;
    height: 1000px;
}
.create-post-form > div {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
}
.create-post-form #draft-input, .create-post-form #draft-label {
    width: auto;
}

.create-user-form {
    width: 60%;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.create-user-form > div {
    width: 100%;
}

.create-user-form label, .create-user-form input {
    width: 100%;
    margin-bottom: 0.5rem;
}

.create-user-form input[type="submit"] {
    margin-top: 0.5rem;
}